.advantages {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: @tablet-width){
    margin: 0;
    max-width: 768px;
  }

  @media (min-width: @desktop-width){
    margin: 0;
    max-width: 1200px;
  }
}

.advantage {
  display: flex;
  flex-wrap: wrap;
  color: #ffff;
  background-color:#81b3d2;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    };

  @media (min-width: @desktop-width){
    display: flex;
    flex-wrap: wrap;
  };
}

.advantage__inner {
  display: flex;
}

.advantage--not-important {
  display: flex;
  color: #000000;
  background-color: #e6e6e6;
  justify-content: space-between;
}


