.main-logo-container {
  width: 100%;
  background-image: url(../img/main-background.jpeg);
  background-repeat: no-repeat;
  padding-top: 90px;

  @media (min-width: @tablet-width) {
    padding-top: 78px;
  };

 @media (min-width: @desktop-width) {
  }
}
