.main-logo-container {
  width: 100%;
  background-image: url(../img/main-background.jpeg);
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-size: auto, 1200px 518px;
  };

 @media (min-width: @desktop-width) {
  background-size: 1200px 518px;
  }
}
