.service__item {
  display: flex;
  padding: 20px 5%;
  text-align: left;
}

.service__text{
  padding-left: 20px;
}

.service__img {
  fill: #81B3D2;
  align-items: center;
}

.service__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    flex-direction: row;


    .service__item {
      flex-direction: column;
      width: 33%;
      min-height: 256px;
      padding: 30px 20px;
      text-align: center;
    }
  }
}

