.main-header{
    background-color: @background-white;
  }

  .main-header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .site-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .main-nav {
    display: flex;
    position: relative;
  }

  .main-nav__list {
    position: absolute;
    display: none;
    width: 100%;
  }

  .site-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .site-list__item-link {
    .title-bold();
    .list-drop();
    font-size: 18px;
    color: @white;
    padding: 17px 78px 12px;
    background-color: @blue-primary;
    width: 100%;
    border-bottom: 1px solid @black;
  }

  .main-nav__toggle {
    padding: 0;
    margin: 15px 20px 10px;
    margin-left: auto;
    z-index: 2;
    background-color: transparent;
    color: @blue-primary;
    border: none;
    cursor: pointer;
  }
