.main-header{
  display: flex;
  flex-direction: column;
    background-color: @background-white;
    color: #000000;
    display: flex;
  }

  .main-header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

