.copyright {
    display: flex;
    justify-content: center;
  }

  .copyright__link {
    color: @black;
    display: flex;
    align-items: center;
  }

  .copyright__text {
    padding-right: 12px;
  }
