.main-footer__wrapper {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    padding: 43px 18px 23px;
    background-color: @background-white;
    height: 235px;
  }

  .hashtag {
    .title-bold();
  }

  .social__list {
    display: flex;
    justify-content: center;
  }

  .social__item {
    background-color: @blue-primary;
  }

  .social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: @white;
  }

  .copyright {
    display: flex;
    justify-content: center;
  }

  .copyright__link {
    color: @black;
    display: flex;
    align-items: center;
  }

  .copyright__text {
    padding-right: 12px;
  }
